@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
    background-color: crimson; 
}

main{
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
}

.header{
    display: flex;
    padding-top: 33px;
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: yellow;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
    width: 260px;
    height: 47px;
}

.right-menu{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 55px;
}

.menu-lang{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.planet-icon{
    display: flex;
}

.lang-txt{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 10pt;
}

.font-menu{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
}

.menu-bar{
    display: flex;
    flex-direction: column;
    gap: 4px; 
    cursor: pointer;
}

.bar{
    background-color: white;
    width: 27px;
    height: 4px;
    border-radius: 10px;
}

.logo-menu{
    margin-right: 20px;
}

.background{
    background-color: crimson;
}

.content{
    width: 100%;
    height: 1000px;
    background-color: darkgrey;
}

footer{
    display: flex;
    width: 100%;
}

.footer-content{
    width: 100%;
    height: 350px;
    background-color: aqua;

}